.box{
  
    width:100%;
    padding:3px;
    margin:1px;
    box-shadow: 8px 8px 8px 8px aqua;
    display:flex;
    flex-flow:  row wrap;
    cursor: pointer;

}

.image:hover {
    border: 50px solid aqua;
}